<!doctype html>
<html lang="en">
    <!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<main role="main">

  <!--차종(소형)-->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <h2><p class="card-text">2020 피아트 판다 하이브리드</p></h2>
              <h3><p>• 출시가 13,885파운드</p></h3>
              <h3>• 연비 5.7ℓ/100km</h3>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">2020 혼다 피트 하이브리드</p></h2>
                <h3><p>• 출시가 23,490달러</p></h3>
                <h3>• 연비 4.5ℓ/100km</h3>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">2020 르노 조에 </p></h2>
                <h3><p>• 출시가 18,420파운드</p></h3>
                <h3>• 연비 0.6km/kWh</h2>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <!--차종(중형)-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">2020 닛산 세레나 하이브리드</p></h2>
                <h3><p>• 출시가 2,529,360엔</p></h3>
                <h3>• 연비 17.1km/ℓ</h3>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">2020 혼다 스탭왜건 e-스파다</p></h2>
                <h3><p>• 출시가 3,641,000엔</p></h3>
                <h3>• 연비 20km/ℓ</h3>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">2020 스코다 수퍼브 iv</p></h2>
                <h3><p>• 출시가 31,970유로</p></h3>
                <h3>• 연비 1.5ℓ/100km</h3>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <!--차종(대형)-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">• 2020 아우디 A8L 플러그인 하이브리드</p></h2>
                <h3><p>• 출시가 109,000유로</p></h3>
                <h3>• 연비 2.7ℓ/100km</h3>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">2020 벤틀리 벤테이가 플러그인 하이브리드</p></h2>
                <h3><p>• 출시가 141,100유로</p></h3>
                <h3>• 연비 3.5ℓ/100km</h2>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <!--가격(1000만원~3000만원)-->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2020 쏘나타 하이브리드</p></h2>
                  <h3><p>• 출시가 2,754~3,579만원</p></h3>
                  <h3>• 연비 19.1~20.1km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2020 K7 하이브리드</p></h2>
                  <h3><p>• 출시가 3,599~3,975만원</p></h3>
                  <h3>• 연비 16.2km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2019 니로 하이브리드</p></h2>
                  <h3><p>• 출시가 2,420~2,993만원</p></h3>
                  <h3>• 연비 19.5km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <!--가격(3000만원~5000만원)-->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2020 쏘렌토 하이브리드</p></h2>
                  <h3><p>• 출시가 3,534~4,388만원</p></h3>
                  <h3>• 연비 13.2~15.3km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2020 혼다 어코드 하이브리드</p></h2>
                  <h3><p>• 출시가 4,430만원</p></h3>
                  <h3>• 연비 18.9km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2020 렉서스 CT 하이브리드</p></h2>
                  <h3><p>• 출시가 4,092만원</p></h3>
                  <h3>• 연비 17km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <!--가격(5000만원이상~)-->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2020 볼보 XC90 플러그인 하이브리드</p></h2>
                  <h3><p>• 출시가 9,290~13,780만원</p></h3>
                  <h3>• 연비 10km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                  <h2><p class="card-text">2020 BMW 7시리즈 플러그인 하이브리드</p></h2>
                  <h3><p>• 출시가 14,680~16,490만원</p></h3>
                  <h3>• 연비 11km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          



        <!--연비(1등급)-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <h2><p class="card-text">2020 렉서스 UX F 스포츠 하이브리드</p></h2>
                <h3><p>• 출시가 5,090만원</p></h3>
                <h3>• 연비 16.7km/ℓ</h3>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <h2><p class="card-text">2020 렉서스 ES 하이브리드</p></h2>
                <h3><p>• 출시가 5,750~6,680만원</p></h3>
                <h3>• 연비 17km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <!--연비(2등급)-->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <h2><p class="card-text">2020 쏘렌토 하이브리드</p></h2>
                <h3><p>• 출시가 3,534~4,388만원</p></h3>
                <h3>• 연비 13.2~15.3km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <h2><p class="card-text">2020 렉서스 UX 하이브리드</p></h2>
                <h3><p>• 출시가 4,540~5,450만원</p></h3>
                <h3>• 연비 15.9~16.7km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <h2><p class="card-text">2020 그랜저 하이브리드</p></h2>
                <h3><p>• 출시가 3,646~4,432만원</p></h3>
                <h3>• 연비 15.2~16.2km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <!--연비(3등급)-->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <h2><p class="card-text">2020 쏘렌토 하이브리드</p></h2>
                <h3><p>• 출시가 3,534~4,388만원</p></h3>
                <h3>• 연비 13.2~15.3km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="20%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <h2><p class="card-text">2020 BMW X3 플러그인 하이브리드</p></h2>
                <h3><p>• 출시가 7,350~7,650만원</p></h3>
                <h3>• 연비 13.6km/ℓ</h3>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>







        
      </div>
    </div>
  </div>

</main>

<!--
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script></body>
      -->
</html>
